body {
  font-family: 'Poppins', sans-serif; }

#mast {
  padding: 0 0 8% 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  background: #333333; }
  #mast .mast-intro {
    padding: 10% 0 0 0; }
    #mast .mast-intro h2 {
      font-size: 35px;
      font-weight: 400;
      line-height: normal; }
    #mast .mast-intro p {
      font-size: 18px;
      line-height: 28px; }
  #mast .priority-access {
    margin: 40px 0;
    font-size: 20px;
    -webkit-box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    border-radius: 100px;
    background: rgba(0, 0, 0, 0); }
    #mast .priority-access .input-group {
      background: rgba(0, 0, 0, 0); }
      #mast .priority-access .input-group input[type="email"] {
        padding: 25px 20px;
        border-radius: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 55%;
        border: 0; }
      #mast .priority-access .input-group button[type="submit"] {
        border-radius: 0;
        padding: 25px 20px;
        background-color: #edd574;
        text-transform: uppercase;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 45%;
        border: 0;
        font-weight: 600;
        color: #000000; }
  #mast .hero-img {
    text-align: right; }
    #mast .hero-img img {
      height: auto;
      max-height: 500px; }

#cazamio-about {
  background-image: url("../img/cazamio-about-bg.jpg");
  padding: 8% 0 14% 0;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; }
  #cazamio-about .about-content {
    position: relative;
    z-index: 100;
    text-align: center;
    color: #333333; }
    #cazamio-about .about-content p {
      font-size: 27px;
      font-weight: normal; }
    #cazamio-about .about-content h2 {
      font-size: 40px;
      font-weight: 400;
      line-height: normal; }
  #cazamio-about .img-bgs {
    position: absolute;
    z-index: 50;
    top: 0;
    width: 100%;
    left: 0; }
    #cazamio-about .img-bgs .sun-and-cloud {
      width: 1360px;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #cazamio-about .img-bgs .tree-and-house {
      width: 1360px;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }

#cazamio-list {
  padding: 10% 0;
  background: #343434;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3e3e3e 0%, #616161 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3e3e3e 0%, #616161 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3e3e3e 0%, #616161 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#616161',GradientType=0 );
  /* IE6-9 */ }
  #cazamio-list .putme-onlist {
    margin: 40px auto;
    font-size: 20px;
    -webkit-box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    border-radius: 100px;
    width: 700px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0); }
    #cazamio-list .putme-onlist .input-group {
      background: rgba(0, 0, 0, 0); }
      #cazamio-list .putme-onlist .input-group input[type="email"] {
        padding: 25px 20px;
        border-radius: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 55%;
        border: 0; }
      #cazamio-list .putme-onlist .input-group button[type="submit"] {
        border-radius: 0;
        padding: 25px 20px;
        background-color: #edd574;
        text-transform: uppercase;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 45%;
        border: 0;
        font-weight: 600;
        color: #000000; }
  #cazamio-list h2 {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: normal; }

#why-cazamio {
  padding-top: 5%; }
  #why-cazamio h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: normal; }
  #why-cazamio .card {
    -webkit-box-shadow: 0px 0px 36px -7px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 36px -7px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 36px -7px rgba(0, 0, 0, 0.35);
    border-radius: 0;
    border: none;
    margin-bottom: 40px;
    color: #333333;
    height: 290px;
    padding: 10% 0; }
    #why-cazamio .card .card-title {
      font-size: 25px;
      font-weight: 500; }
    #why-cazamio .card .img-thumb-card {
      padding: 15px; }
    #why-cazamio .card .card-text {
      font-size: 18px;
      line-height: 28px; }

#get-started {
  padding: 5% 0;
  color: #333333; }
  #get-started h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: normal; }
  #get-started .steps-content {
    position: relative;
    top: 23%;
    bottom: auto; }
    #get-started .steps-content h3 {
      font-size: 40px;
      font-weight: 400;
      line-height: normal; }
    #get-started .steps-content span.steps {
      display: block;
      font-weight: bold;
      font-size: 26px;
      text-transform: uppercase; }
    #get-started .steps-content p {
      font-size: 18px;
      line-height: 28px; }

footer {
  background: #575757;
  /* Old browsers */
  background: -moz-linear-gradient(top, #575757 0%, #333333 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #575757 0%, #333333 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #575757 0%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#333333',GradientType=0 );
  /* IE6-9 */ }
  footer .signme-up {
    margin: 40px auto;
    font-size: 20px;
    -webkit-box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    box-shadow: -38px 26px 67px 8px rgba(0, 0, 0, 0.51);
    border-radius: 100px;
    width: 700px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0); }
    footer .signme-up .input-group {
      background: rgba(0, 0, 0, 0); }
      footer .signme-up .input-group input[type="email"] {
        padding: 25px 20px;
        border-radius: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 55%;
        border: 0; }
      footer .signme-up .input-group button[type="submit"] {
        border-radius: 0;
        padding: 25px 20px;
        background-color: #edd574;
        text-transform: uppercase;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 45%;
        border: 0;
        font-weight: 600;
        color: #000000; }
  footer .copyright {
    color: #fff;
    text-align: center;
    font-size: 14px; }
  footer .footer-intro {
    color: #fff; }
    footer .footer-intro h2 {
      font-size: 40px;
      font-weight: 400;
      line-height: normal; }
    footer .footer-intro p {
      font-size: 27px;
      font-weight: normal; }
    footer .footer-intro span.yellow-t {
      color: #edd574; }

.separator-wave {
  width: 100%; }

.spacer {
  height: 100px; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

#cazamio-video {
  width: 100%;
  height: 620px; }

@media screen and (max-width: 991px) {
  #cazamio-video {
    height: 420px; }

  #cazamio-about {
    background-size: cover; }

  #why-cazamio .card {
    height: auto;
    padding: 5% 0; }
  #why-cazamio .img-thumb-card {
    padding: 30px; }

  #mast {
    text-align: center; }
    #mast .hero-img {
      text-align: center; }
    #mast .mast-intro {
      padding: 4% 0 0 0; }
      #mast .mast-intro h2 {
        font-size: 32px; }

  #get-started .steps-content {
    position: static; }
    #get-started .steps-content h3 {
      font-size: 36px; } }
@media screen and (max-width: 767px) {
  #why-cazamio .card {
    text-align: center; }

  #cazamio-about {
    background-size: contain; }

  #mast .priority-access {
    border-radius: 0; }
    #mast .priority-access .input-group {
      display: block; }
      #mast .priority-access .input-group button[type="submit"],
      #mast .priority-access .input-group input[type="email"] {
        width: 100%;
        border-radius: 0;
        text-align: center; }

  #cazamio-list .putme-onlist {
    border-radius: 0; }
    #cazamio-list .putme-onlist .input-group {
      display: block; }
      #cazamio-list .putme-onlist .input-group button[type="submit"],
      #cazamio-list .putme-onlist .input-group input[type="email"] {
        width: 100%;
        border-radius: 0;
        text-align: center; }

  footer .signme-up {
    border-radius: 0; }
    footer .signme-up .input-group {
      display: block; }
      footer .signme-up .input-group input[type="email"],
      footer .signme-up .input-group button[type="submit"] {
        width: 100%;
        border-radius: 0;
        text-align: center; } }
@media screen and (max-width: 420px) {
  #cazamio-video {
    height: 320px; } }

/*# sourceMappingURL=style.css.map */
